body, html {
    height: 100%;
    margin: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #111111;
    color: #ffffff;
    }

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* About Section */
.about-container {
    display: flex;
    flex-direction: column;
}

.about-description {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.about-section {
    display: flex;
    align-items: center;
}

.about-section-right {
    flex-direction: row;
    background-color: #222222;
}

.about-section-left {
    flex-direction: row-reverse;
    background-color: #333333;
}

.about-details {
    flex: 1;
    padding: 20px;
}

.about-image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Navigation */
.navbar {
    background-color: #222222;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    list-style-type: none;
    padding-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #aaaaaa;
}

/* Leaderboard styling */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #222222;
    color: #ffffff;
  }
  
  tr:hover {
    background-color: #acacac;
  }