<!DOCTYPE html>
{% load static i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title> {% block title %} My Website {% endblock title %}</title>
</head>
<body>
    <div class="navbar">
        <li><a class="about" href="{% url 'about' %}">About</a></li>
        <li><a class="leaderboard" href="{% url 'leaderboard' %}">Leaderboard</a></li>
        <li><a class="items" href="{% url 'items' %}">Items</a></li>
        <li><a class="stats" href="{% url 'stats' %}">Stats explanation</a></li>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</html>